<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
<!-- 
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{ABSOLUTE}   %m%n" />
        </layout>
    </appender>
 -->

    <appender name="LogFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value=".logs/mjlog.log-temp"></param>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{ABSOLUTE}   %m%n"></param>
        </layout>
    </appender>
    
    <root>
        <priority value="debug" />
        <appender-ref ref="LogFileAppender" />
        <!-- <appender-ref ref="ConsoleAppender" /> -->
    </root>

</log4j:configuration>
